In [2]:
import pandas as pd
import numpy as nm
from pandas import Series, DataFrame

In [3]:
loans=pd.read_csv('https://raw.githubusercontent.com/sshumiye/Notes/master/lending_club_data01.csv')

In [5]:
loans.head()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num
0,10.65,162.87,3,13648,83.7,9,0,5
1,15.27,59.83,3,1687,9.4,4,1,4
2,15.96,84.33,2,2956,98.5,10,0,4
3,13.49,339.31,10,5598,21.0,37,0,4
4,7.90,156.46,9,7963,28.3,12,0,6

In [6]:
loans.tail()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num
1463,6.62,377.66,11,10825,16.1,25,0,6
1464,18.64,360.41,2,564,70.5,19,0,2
1465,16.29,494.21,15,24536,71.7,29,0,3
1466,7.90,500.65,4,404,31.1,12,0,6
1467,15.27,208.79,6,760,69.1,19,0,4

In [7]:
loans['good_loans']=loans['bad_loans'].apply(lambda y: 'yes' if y==0 else 'no')

In [8]:
loans.head()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num,good_loans
0,10.65,162.87,3,13648,83.7,9,0,5,yes
1,15.27,59.83,3,1687,9.4,4,1,4,no
2,15.96,84.33,2,2956,98.5,10,0,4,yes
3,13.49,339.31,10,5598,21.0,37,0,4,yes
4,7.90,156.46,9,7963,28.3,12,0,6,yes

In [10]:
X=loans.drop(['bad_loans','good_loans'],axis=1)

In [11]:
y=loans['good_loans']

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
from sklearn.tree import DecisionTreeClassifier

In [16]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=124)

In [20]:
model=DecisionTreeClassifier()

In [21]:
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [22]:
prediction=model.predict(x_test)

In [24]:
from sklearn.metrics import classification_report,confusion_matrix

In [25]:
print(confusion_matrix(y_test, prediction))

[[ 18  49]
 [ 56 318]]

In [26]:
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

          no       0.24      0.27      0.26        67
         yes       0.87      0.85      0.86       374

    accuracy                           0.76       441
   macro avg       0.55      0.56      0.56       441
weighted avg       0.77      0.76      0.77       441

In [34]:
loans.groupby('good_loans').count()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num
good_loans,,,,,,,,
no,254,254,254,254,254,254,254,254
yes,1214,1214,1214,1214,1214,1214,1214,1214

In [37]:
from sklearn.ensemble import RandomForestClassifier

In [39]:
model1=RandomForestClassifier(n_estimators=150)

In [40]:
model1.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=150,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [43]:
pred=model1.predict(x_test)

In [44]:
print(confusion_matrix(y_test,pred))

[[  5  62]
 [ 13 361]]

In [57]:
y_test.value_counts()

yes    374
no      67
Name: good_loans, dtype: int64

In [59]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

          no       0.28      0.07      0.12        67
         yes       0.85      0.97      0.91       374

    accuracy                           0.83       441
   macro avg       0.57      0.52      0.51       441
weighted avg       0.77      0.83      0.79       441